.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.progressBarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.progressBar{
    min-width: 60%;
}

.boardContainer{
    height: 40%;
    width: 40%;
}

.BTNSContainer{
    margin-left: 5%;
}

