.boardContainer{
    height: 40%;
    width: 40%;
    margin: auto;
}

.topBTNS{
    display: flex;
    justify-content:center;
    gap: 3%;
    margin: 2%;
}

.undoBTN{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(13,110,253);
}

.undoBTN:hover{
    filter: brightness(80%);
}