.outerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.leftContainer{
    background-color: rgb(121, 173,184);
    height: 35em;
    width: 18%;
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.username{
    margin-top: 10%;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.userIcon{
    width: 20%;
    height: 10%;
    border-radius: 50%;
    background-color: rgb(225,225,225);
}

.userRank{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.scoreContainer{
}

.correctIcon,
.incorrectIcon{
    max-width: 30%;
    max-height: 30%;
}

.correctContainer,
.incorrectContainer{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.correctScore,
.incorrectScore{
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.progressBarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.progressBar{
    min-width: 60%;
}

.boardContainer{
    min-height: 89%;
    min-width: 89%;
}



